@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TP1 - Lista de Amigos</h1>
    <p>Aqui você poderá ver alista criada por Renan Herrmann e selecionar uma pessoa!</a></p>
   
    <p>Para acessar a Lista de Amigos, Clique em "Lista de Amigos" no menu superior da página!</a></p>


</div>

